# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
wordpress-core/
website/app/plugins/

# Configuration
#wp-config.php

# Example themes
# /wp-content/themes/twenty*/

# W3 Total Cache plugin
website/app/w3tc-config
website/app/cache
website/app/advanced-cache.php
website/app/themes/*
!website/app/themes/rapkalin-wp

# Uploads
website/app/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
website/vendor/

# Defaut files
.idea/
.env
composer.lock